body {
  color: #3b3e47;
  background: #3b3e47
}

.dataTables_filter {float: left; position: absolute;}
.dataTables_filter input { max-width:90px;}

.roundbox{border-radius:4px;border:1px solid #AAAAAA;}

  .blink {
      animation: blink 2s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }

.pnotify-center {
   right: calc(50% - 150px) !important;
   width: 300px !important;
}

.pnotify-center-large {
  font-size: large;
  right: calc(50% - 350px) !important;
  width: 700px !important;
}

.ui-select-match-text{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}
.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}


.nested-table {
  border-collapse: collapse;
  width: 100%;
}

.nested-th, .nested-td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.nested-level-1 {
  margin-left: 0;
}

.nested-level-2 {
  margin-left: 20px;
}

.nested-level-3 {
  margin-left: 40px;
}


.quota-form-input {
  width: 100% !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * Workaround to fix select2 placeholder cut off
 * https://github.com/select2/select2/issues/291
 * https://github.com/kartik-v/yii2-widgets/issues/324
 */
.select2-search, .select2-search__field {
  width: 100% !important;
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  left: 50%;
  width: 30%;
  height: 120px;
  margin-left: -15%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 2rem;
  background: white;
}

table.dataTable td.details-show > button > i:before,
table.dataTable td.details-control > button > i:before {
	content: '\f067';
	font-family: FontAwesome;
	cursor: pointer;
	color: white;
}

table.dataTable tr.shown td.details-show > button > i:before,
table.dataTable tr.shown td.details-control > button > i:before {
	content: '\f068';
	color: white;
}

.howto-desktops {
  background-color:rgb(238, 238, 238);
  cursor: pointer;
  padding: 5px 17px;
}

.x_title h4, h3 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.x_panel {
  border: none
}

/* Sidebar */
.sidebar_logo {
  width: 50px;
  height: 50px;
}

.sidebar-footer {
  background: #3b3e47;
}

#menu_toggle {
  color: #3b3e47;
}

.logo_white {
  filter: invert(1);
}

.left_col {
  background: #3b3e47;
}

.nav.side-menu>li.active>a {
  background: #3b3e47;
}

.nav_title {
  background: #3b3e47;
  margin-bottom: 15px;
}

.nav_menu {
  background: white;
}

.nav-sm ul.nav.child_menu {
  background: #3b3e47;
}

.nav.side-menu li:not(.active):hover,
.nav.child_menu li:hover {
  background: rgba(255, 255, 255, 0.05)
}

#filter-boxes .select2-selection--multiple {
  height: 50px;
}

.filter-item {
  width: 325px;
}


.select2-container--resize .select2-selection, 
.select2-container--resize .select2-search__field {
  resize: vertical;
  overflow-y: auto;
}
.select2-container--resize .select2-selection {
  min-height: 38px;
}

#domains_wrapper > div:first-of-type {
  margin-bottom: -10px;
}

#domains_filter {
  position: relative;
  margin-right: 20px;
  float: right;
}

#filter-section {
  padding: 20px;
}

.dt-buttons {
  margin-bottom: 15px;
}

.dt-button {
  padding: 5px;
  margin: 5px;
  background-color: aliceblue;
  border-radius: 5px;
}

/* Loading  */
.loading-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-ring:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3b3e47;
  border-color: #3b3e47 transparent #3b3e47 transparent;
  animation: loading-ring 1.2s linear infinite;
}
@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
