<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="page-title">
                <div class="title_left">
                    <h3><i class="fa fa-edit"></i> Notification Templates <small></small></h3>
                </div>
            </div> 
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="clearfix"></div>


{% include '/snippets/alloweds_form.html' %}
{% endblock %}
{% block pagescript %}
    <script src="/isard-admin/static/js/restful.js"></script>
    <!-- <script src="/isard-admin/static/admin/js/notification_tmpls.js"></script> -->
    <script src="/isard-admin/static/js/snippets/form_items.js"></script>
{% endblock %}
